@import '../../modules/colors';

.task-list {
  background-color: $main-color;
  box-sizing: border-box;
  color: $font-color;
  display: table-cell;
  width: 300px;

  .task-item {
    padding: 13px 10px 8px 10px;
    border-bottom: 1px solid $task-seperator-color;

    &:last-child {
      border-bottom: 0;
    }

    &.current {
      background-color: $task-item-color;
    }
  }

  .task-start-time {
    display: block;
    font-size: 12px;
    margin: 0 0 8px 0;
    color: $time-font-color;
  }

  .task {
    margin: 0 0 0 5px;
    padding: 5px;
    color: $font-color;
  }
}


